<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro.Core" version="3.0.1" targetFramework="win81" />
  <package id="LogoFX.Client.Core.Core" version="1.0.7" targetFramework="win81" />
  <package id="LogoFX.Client.Mvvm.ViewModel.Core" version="1.0.5" targetFramework="win81" />
  <package id="LogoFX.Client.Mvvm.ViewModel.Extensions.Core" version="1.0.7-alpha" targetFramework="win81" />
  <package id="LogoFX.Core" version="1.0.7" targetFramework="win81" />
</packages>